/*
Fonts
*/
@font-face {
  font-family: 'Noe-Display-Bold';
  src: url('../fonts/Noe-Display-Bold.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Noe-Display-Regular-Italic';
  src: url('../fonts/Noe-Display-Regular-Italic.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Noe-Text-Regular';
  src: url('../fonts/Noe-Text-Regular.ttf');
  font-weight: normal;
}

/*
Elements
*/

td{
  font-family: 'Noe-Text-Regular';
  font-size: 13px;
  padding: 8px;
}

h1{
  font-size: 30px;
  font-family: 'Noe-Display-Bold';
  padding: 0px 0px 0px 10px;
  letter-spacing: 4px;
  color: rgb(251, 251, 251);
  margin: 10px;
}

h3{
  font-family: 'Noe-Display-Bold';
  background: rgb(42,40,38);
  color: rgb(251, 251, 251);
  letter-spacing: 2px;
  display: inline-block;
  margin: 0px 20px 0px 0px;
  padding: 4px;
}

h6{
  font-family: 'Noe-Display-Bold';
  color: rgb(80, 79, 77);
  letter-spacing: 1px;
  font-size: 20px;
}

canvas{
  display: none;
}

input:focus, textarea:focus, select:focus {
  border: none;
  outline-offset: 0px;
  outline: none;
}

p{
  color:rgb(42,40,38);
}

a{
  text-transform: none;
  color: black;
}

a:hover{
  background:rgb(42,40,38);
  color:white;
}

/*
id
*/

#title{
  z-index: 999;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 370px;
  background: rgb(42,40,38);
  top: 30px;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  background: white;
}

#error{
  z-index: 999;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 370px;
  display: none;
  top: 40%;
}

#loading{
  display: none;
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  width: 40px;
}

#about{
  position: absolute;
  z-index: 99;
  bottom: 0px;
  right: 0;
  text-align: right;
  display: inline-block;
  width: 320px;
}

#about>p{
  font-family: 'Noe-Text-Regular';
  font-size: 12px;
  margin: 10px 10px 2px 10px;
  padding: 10px 10px 10px 10px;
}

#source{
  z-index: 9999;
  position: absolute;
  top:20px;
}
/*
class
*/

.leaflet-routing-alt {
  max-height: 420px;
  margin-top: 2px;
  overflow-y: auto;
  transition: all 0.2s ease;
  margin-bottom: 0px;
}

.leaflet-routing-container {
  width: 450px;
}

.leaflet-touch .leaflet-bar {
  background-clip: padding-box;
  background: rgba(255, 255, 255, 0);
  padding: 10px;
  border: none;
  border-radius: 0px;
  margin: 0;
}

.start{
  display: none;
}

.leaflet-routing-geocoders input {
  width: calc(100% - 30px);
  line-height: 1.67;
  border: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid gainsboro;
  margin: 0px 2px;
  font-family: 'Noe-Text-Regular';
  background: rgba(255, 255, 255, 0.1);
}

.leaflet-routing-geocoders button{
  display: none;
}

::selection {
  background: #e9eae9; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #e9eae9; /* Gecko Browsers */
}

.info{
  font-family: "Noe-Display-Regular-Italic";
  text-align: right;
}

.info::before{
  background-image: none;
}

.leaflet-control-zoom{
  display: none;
}

.leaflet-bottom{
  display: none;
}

.leaflet-right {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 465px;
  top: 20vh;
}

.leaflet-routing-geocoders div {
  padding: 4px 0px 4px 0px;
  text-align: center;
}
