<!DOCTYPE html>
<html>
<head>
  <title>Directions</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{url_for('static', filename='libraries/leaflet/leaflet.css') }}">
  <link rel="stylesheet" href="https://mapzen.com/js/mapzen.css">
  <link rel="stylesheet" href="{{url_for('static', filename='libraries/lrm-mapzen-1.0.0/leaflet.routing.mapzen.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='libraries/leaflet-control-geocoder-1.5.4/dist/Control.Geocoder.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='libraries/leaflet-control-geocoder-1.5.4/dist/Control.Geocoder.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div id="title">
    <!-- <h1>Directions for a City</h1> -->
  </div>
  <div id="map"></div>
  <script src="{{url_for('static', filename='libraries/leaflet/leaflet.js') }}"></script>
  <script src="https://mapzen.com/js/mapzen.min.js"></script>
  <script src="{{url_for('static', filename='libraries/jquery-3.2.1/jquery-3.2.1.min.js') }}"></script>
  <script src="https://mapzen.com/tangram/tangram.min.js"></script>
  <script src="{{url_for('static', filename='libraries/leaflet-routing-machine-3.2.5/dist/leaflet-routing-machine.min.js') }}"></script>
  <script src="{{url_for('static', filename='libraries/lrm-mapzen-1.0.0/lrm-mapzen.min.js') }}"></script>
  <script src="{{url_for('static', filename='libraries/leaflet-control-geocoder-1.5.4/dist/Control.Geocoder.js') }}"></script>
  <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
  <script src="{{url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
